@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?zie3of');
  src:  url('../fonts/icomoon.eot?zie3of#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?zie3of') format('truetype'),
    url('../fonts/icomoon.woff?zie3of') format('woff'),
    url('../fonts/icomoon.svg?zie3of#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-circle:before {
  content: "\e900";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
