@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bg-color0 {
  border-color: #fc5f45 !important;
}

.bg-color1 {
  border-color: #38c695 !important;
}

.bg-color2 {
  border-color: #b27cf5 !important;
}

.bg-color3 {
  border-color: #feb960 !important;
}

.color0 {
  color: #fc5f45 !important;
}

.color1 {
  color: #38c695 !important;
}

.color2 {
  color: #b27cf5 !important;
}

.color3 {
  color: #feb960 !important;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 75px;
}
.header__top-nav li {
  display: inline-block;
  margin-left: 20px;
}
.header__top a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 27px;
  color: #272727;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.header__content {
  background: url(../img/header-bg.jpg) center no-repeat;
  max-width: 100vw;
  min-height: 862px;
  position: relative;
  margin: 0 auto;
}
.header__content::before {
  content: "";
  background: rgba(63, 64, 73, 0.8);
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.header__content-inner {
  position: relative;
  z-index: 2;
  min-height: 470px;
  width: 907px;
  margin: 0 auto;
}
.header__content-inner-header {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 85px;
  color: #fff;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 40px;
}
.header__content-inner-button {
  text-align: center;
}
.header__content-inner-button a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 80px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.7px;
  background: #fc5f45 !important;
  border-radius: 30px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__content-inner-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 75px;
}
.header__content-inner-icons-elem {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
}

.about__us {
  position: relative;
}
.about__us-photo {
  width: 555px;
  height: 750px;
  background: url(../img/about-us.jpg) center no-repeat;
  margin-top: 150px;
  margin-bottom: 150px;
  z-index: -1;
  border: 10px solid rgba(163, 163, 163, 0.6);
}
.about__us-content {
  background: url(../img/about2.png), #fff;
  background-position: top left;
  background-repeat: no-repeat;
  width: 650px;
  height: 550px;
  padding-top: 95px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 85px;
  text-align: left;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 78px;
  left: 518px;
  z-index: 5;
}
.about__us-content-header {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  position: relative;
  z-index: 120;
}
.about__us-content-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  margin-bottom: 30px;
}
.about__us-content-borders {
  display: flex;
  justify-content: space-between;
  width: 490px;
}
.about__us-content-border0 {
  border-bottom: 3px solid #fc5f45 !important;
  width: 25%;
}
.about__us-content-border1 {
  border-bottom: 3px solid #38c695 !important;
  width: 25%;
}
.about__us-content-border2 {
  border-bottom: 3px solid #b27cf5 !important;
  width: 25%;
}
.about__us-content-border3 {
  border-bottom: 3px solid #feb960 !important;
  width: 25%;
}

.our__focus {
  background: url(../img/focus-bg2.png), #f7f7f7;
  background-position: top center;
  background-repeat: no-repeat;
}
.our__focus-header {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  padding-top: 120px;
}
.our__focus-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #616161 !important;
  font-size: 18px;
  line-height: 50px;
}
.our__focus-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 140px;
}
.our__focus-content-item {
  background: #fff;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 3px solid;
}
.our__focus-content-item-img {
  min-height: 60px;
  margin-top: 55px;
}
.our__focus-content-item-header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-top: 10px;
}
.our__focus-content-item-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  padding: 30px;
}

.video {
  background: url(../img/video-bg.jpg) center no-repeat;
  width: 100%;
  min-height: 500px;
  position: relative;
  z-index: 1;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(63, 64, 73, 0.8);
}
.video__inner {
  position: relative;
  z-index: 10;
  padding-top: 130px;
  padding-bottom: 100px;
  text-align: center;
}
.video__inner-header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.video__inner-plaуer {
  padding-top: 20px;
  padding-bottom: 30px;
}
.video__inner-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.portfolio {
  min-height: 1300px;
  background: url(../img/portfolio-bg.png);
  background-position-x: 50%;
  background-position-y: 0%;
  background-repeat: no-repeat;
}
.portfolio__header {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  padding-top: 140px;
}
.portfolio__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #616161 !important;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.portfolio__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.portfolio__inner-item {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
  transition: 0.4s;
}
.portfolio__inner-item:hover {
  background: #fff;
}
.portfolio__inner-item:hover img {
  height: 80%;
  width: 95%;
}

.team {
  min-height: 1230px;
  background: url(../img/team-bg.png), #f7f7f7;
  background-repeat: no-repeat;
  background-position-x: center;
}
.team__header {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  padding-top: 120px;
}
.team__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #616161 !important;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 70px;
}
.team__inner-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.team__inner-item {
  background: #fff;
  padding: 6px;
  border-bottom: 3px solid;
}
.team__inner-item-name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  font-weight: 500;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.team__inner-item-profession {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 15px;
}
.team__about {
  background: #fff;
  min-height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.team__about::after {
  content: '';
  position: absolute;
  left: 108px;
  top: -63px;
  border: 30px solid transparent;
  border-bottom: 40px solid #fff;
}
.team__about-inner {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 640px;
  min-height: 210px;
}
.team__about-inner-header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #272727;
  text-align: left;
  padding-bottom: 25px;
}
.team__about-inner-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  text-align: left;
}
.team__about-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.team__about-social ul {
  text-align: left;
  padding: 0;
  padding-left: 25px;
}
.team__about-social li {
  padding-bottom: 10px;
}
.team__about-social a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #616161 !important;
  padding-left: 3px;
}
.team__about-social .face:before {
  content: "\f082";
  font-family: "icomoon" !important;
  padding-right: 5px;
  font-size: 15px;
}
.team__about-social .twit:before {
  content: "\f081";
  font-family: "icomoon" !important;
  padding-right: 5px;
}
.team__about-social .linke:before {
  content: "\f08c";
  font-family: "icomoon" !important;
  padding-right: 5px;
}
.team__about-social .inst:before {
  content: "\f16d";
  font-family: "icomoon" !important;
  padding-right: 5px;
}
.team__about-socail-links {
  border-left: 2px solid #efefef;
}
.team__about-social-arrow {
  padding-right: 35px;
}

.statistic {
  background: url(../img/statistic-bg.jpg) no-repeat;
  background-position-y: 0;
  width: 100%;
  min-height: 465px;
  position: relative;
  z-index: 0;
}
.statistic::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(63, 64, 73, 0.8);
  z-index: 1;
}

.statistic__inner {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 1035px;
  margin: 0 auto;
}

.statistic__inner-item-img {
  margin-top: 130px;
  margin-bottom: 20px;
}

.statistic__inner-item-numer {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.statistic__inner-tem-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  color: rgba(254, 254, 254, 0.702);
  margin-top: 25px;
  margin-bottom: 30px;
}

.statistic__inner-tem-point {
  border: 1px solid;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.point {
  width: 10px;
  height: 10px;
  text-align: center;
  border-radius: 50%;
  margin: 2px auto;
}

.point-bg0 {
  background: #fc5f45 !important;
}

.point-bg1 {
  background: #38c695 !important;
}

.point-bg2 {
  background: #b27cf5 !important;
}

.point-bg3 {
  background: #feb960 !important;
}

.work__steps {
  background: url(../img/work_steps-bg.png), #fff;
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 1725px;
  width: 100%;
  margin-top: 10px;
}

.work__steps-inner {
  padding-top: 125px;
}

.work__steps-header {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  margin-bottom: 25px;
}

.work__steps-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #616161 !important;
  font-size: 18px;
  margin-bottom: 130px;
}

.work__steps-photos {
  width: 555px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.work__steps-info {
  position: relative;
}

.work__steps-info-item {
  width: 460px;
  min-height: 300px;
  border-bottom: 3px solid;
  text-align: left;
  padding-top: 40px;
  padding-left: 30px;
  background: #fff;
  position: absolute;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.work__steps-info-item-number {
  display: inline-block;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 50px;
  color: #e0e0e0;
  text-transform: uppercase;
  position: relative;
}
.work__steps-info-item-number::after {
  content: "";
  width: 1px;
  height: 90px;
  background: #e0e0e0;
  position: absolute;
  top: 0;
  left: 50px;
  transform: rotate(30deg);
}

.work__steps-info-item-headers {
  display: flex;
  align-items: center;
}

.work__steps-info-item-header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #272727;
  display: inline-block;
  margin-left: 20px;
}

.work__steps-info-item-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  width: 275px;
  min-height: 125px;
  margin-left: 90px;
}

.margin-text1 {
  margin-left: 80px;
}

.work-position0 {
  top: -1250px;
  left: 5px;
}

.work-position1 {
  top: -950px;
  left: 700px;
}

.work-position2 {
  top: -650px;
  left: 5px;
}

.work-position3 {
  top: -350px;
  left: 700px;
}

.pricing {
  background: url(../img/pricing-bg.png), #f7f7f7;
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 1050px;
  width: 100%;
}

.pricing__header {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  padding-top: 130px;
  padding-bottom: 25px;
}

.pricing__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #616161 !important;
  font-size: 18px;
  padding-bottom: 70px;
}

.pricing__table {
  display: flex;
  justify-content: space-between;
}

.pricing__table-item {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  min-width: 365px;
  min-height: 580px;
  border-top: 3px solid;
}

.pricing__table-item-header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 30px;
}

.pricing__table-item-price-br {
  border: 3px solid;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  display: inline-block;
  margin-bottom: 30px;
}

.pricing__table-item-price-br-inf {
  margin: 5px auto;
  width: 100px;
  min-height: 100px;
  border-radius: 50px;
  padding-top: 25px;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.price {
  font-size: 25px;
  margin-bottom: 5px;
}

.mont {
  font-size: 12px;
  letter-spacing: 0.3px;
  font-weight: 400;
}

.pricing__table-item-content ul {
  margin: 0 auto;
  padding: 0;
}
.pricing__table-item-content li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #8b8b8b;
  margin-bottom: 20px;
}
.pricing__table-item-content span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #272727;
  margin-bottom: 20px;
}

.check::before {
  content: "\ea10";
  font-family: 'icomoon' !important;
  font-size: 15px;
  color: #272727;
  margin-right: 8px;
}

.pricing__table-item-button {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  min-width: 180px;
  min-height: 50px;
  border: 2px solid;
  border-radius: 30px;
  padding-top: 15px;
  margin-bottom: 40px;
  margin-top: 20px;
  transition: 0.4s;
}

.hover-bg2:hover {
  background: #b27cf5 !important;
  color: #fff !important;
  cursor: pointer;
}

.hover-bg0:hover {
  background: #fc5f45 !important;
  color: #fff !important;
  cursor: pointer;
}

.hover-bg1:hover {
  background: #38c695 !important;
  color: #fff !important;
  cursor: pointer;
}

.testimonials {
  min-height: 100vh;
  width: 100%;
  background: url(../img/testimonials-bg.png), #3f4049;
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding-top: 120px;
}

.testimonials__header {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  color: #fff !important;
  padding-bottom: 20px;
}

.testimonials__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #616161 !important;
  font-size: 18px;
  color: #fff !important;
  padding-bottom: 120px;
}

.testimonials__slider {
  position: relative;
}

.testimonials__slider-photo {
  position: absolute;
  left: -140px;
  top: -40px;
  border: 10px solid #a1a0a0;
  height: 419px;
}

.testimonials__slider-content {
  text-align: left;
  min-height: 310px;
  width: 820px;
  background: #fff;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 70px;
  border-bottom: 3px solid;
}

.testimonials__slider-content-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  color: #767676 !important;
  padding-top: 35px;
  padding-bottom: 15px;
}

.testimonials__slider-content-signature {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 40px;
  line-height: 80px;
  color: #272727;
}

.testimonials__slider-content-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #272727;
  margin-bottom: 10px;
}

.testimonials__slider-content-profession {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
