@import 'mixins';

.header__top {
    width: 100%;
    min-height: 75px;
    position: fixed;
    z-index: 999;
    background: white;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);

    .top-logo {
        font-family: Wisdom;
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 20px;
        color: #616161;
        cursor: pointer;
        font-weight: 500;

        span {
            color: $color0;
        }
    }

    &-nav {
        padding-left: 0;
        ul {
            padding-left: 0;
            margin: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            margin-left: 20px;
            z-index: 20;
        }
    }

    a {
        font-family: $font-Poppins;
        font-weight: 500;
        text-decoration: none;
        font-size: 14px;
        line-height: 27px;
        color: #272727;
        cursor: pointer;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all ease 0.25s;

    }
}

.header__top1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    background: url(../img/header-bg.jpg) center no-repeat;
    max-width: 100vw;
    min-height: 862px;
    position: relative;
    margin: 0 auto;

    &::before {
        content: "";
        background: $bg-blackout;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &-inner {
        position: relative;
        z-index: 2;
        min-height: 470px;
        width: 907px;
        margin: 0 auto;
    }

    &-inner-header {
        font-family: $font-LibreBaskerville;
        font-weight: 400;
        font-size: 60px;
        line-height: 85px;
        color: #fff;
        text-align: center;
        padding-top: 170px;
        padding-bottom: 40px;

    }

    &-inner-button {
        text-align: center;

        a {
            font-family: $font-Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 80px;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            letter-spacing: 0.7px;
            background: $color0;
            border-radius: 30px;
            padding-left: 35px;
            padding-right: 35px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

    }

    &-inner-icons {
        display: flex;
        justify-content: space-around;
        margin-top: 75px;
    }

    &-inner-icons-elem {
        text-align: center;
        font-family: $font-Poppins;
        font-weight: 500;
        font-size: 18px;
        line-height: 35px;
    }


}

.header__burger {
    display: none;
}

.header__burger::before {
    content: "\e9bd";
    font-family: $font-icon;
    font-weight: 400;
    font-size: 50px;
    text-decoration: none;
    color: $color0;
    cursor: pointer;


}

.header__media {
    display: block;
}
//Media -----------------------------------------------------
@media (min-width: 1200px){
    .header__content {
        background: url(../img/header-bg.jpg) center no-repeat;
        max-width: 100vw;
        min-height: 862px;
        position: relative;
    }
}


@media (max-width: 992px) {
    .header__top1 {
        display: block;
    }
    .header__top-nav {
        display: none;
    }

    .header__media {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .header__content-inner{
        width: 100%;
    }

    .header__burger {
        display: block;
    }


    .header__content-inner-icons{
        flex-direction: column;
    }
}
@media (max-width: 576px) {
    .header__content-inner-header{
        line-height: 10px;
        font-size: 45px;
    }
    .header__content-inner-icons-elem{
        line-height: 20px;
    }
    .header__content {
        min-height: 0%;
}
}