// ===IMPORTS===
@import 'variables';
@import 'mixins';
// ===VARIABLES===
$font-Poppins: 'Poppins', sans-serif;
$font-LibreBaskerville: 'Libre Baskerville', serif;
$font-Sacramento: 'Sacramento', cursive;
$font-icon: 'icomoon' !important;
$color0: #fc5f45 !important;
$color1: #38c695 !important;
$color2: #b27cf5 !important;
$color3: #feb960 !important;
$bg-color: #f7f7f7;
$text-color: #616161 !important;
$border-width: 100%/4;
$bg-blackout: rgba(#3f4049, 0.8);

//===MIXINS===
@mixin headers {
    font-family: $font-LibreBaskerville;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    color: #313131;
}

@mixin paragraphs {
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #616161;
}

@mixin face__signature {
    font-family: $font-Sacramento;
    font-weight: 400;
    font-size: 40px;
    line-height: 80px;
    color: #272727;
}

@mixin border {
    border: 10px solid rgba(#a3a3a3, 0.6);
}

@mixin subtitle {
    font-family: $font-Poppins;
    font-weight: 400;
    color: $text-color;
    font-size: 18px;
}

@mixin border__bottom($br-color) {
    border-bottom: 3px solid;
    border-color: $br-color;
}

//===Common properties===
html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.bg-color0 {
    border-color: $color0;
}

.bg-color1 {
    border-color: $color1;
}

.bg-color2 {
    border-color: $color2;
}

.bg-color3 {
    border-color: $color3;
}

.color0 {
    color: $color0;
}

.color1 {
    color: $color1;
}

.color2 {
    color: $color2;
}

.color3 {
    color: $color3;
}

//===HEADER===
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 75px;

    &-nav {
        li {
            display: inline-block;
            margin-left: 20px;
        }
    }

    a {
        font-family: $font-Poppins;
        font-weight: 500;
        text-decoration: none;
        font-size: 14px;
        line-height: 27px;
        color: #272727;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.header__content {
    background: url(../img/header-bg.jpg) center no-repeat;
    max-width: 100vw;
    min-height: 862px;
    position: relative;
    margin: 0 auto;

    &::before {
        content: "";
        background: $bg-blackout;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &-inner {
        position: relative;
        z-index: 2;
        min-height: 470px;
        width: 907px;
        margin: 0 auto;
    }

    &-inner-header {
        font-family: $font-LibreBaskerville;
        font-weight: 400;
        font-size: 60px;
        line-height: 85px;
        color: #fff;
        text-align: center;
        padding-top: 170px;
        padding-bottom: 40px;

    }

    &-inner-button {
        text-align: center;

        a {
            font-family: $font-Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 80px;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            letter-spacing: 0.7px;
            background: $color0;
            border-radius: 30px;
            padding-left: 35px;
            padding-right: 35px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

    }

    &-inner-icons {
        display: flex;
        justify-content: space-around;
        margin-top: 75px;
    }

    &-inner-icons-elem {
        text-align: center;
        font-family: $font-Poppins;
        font-weight: 500;
        font-size: 18px;
        line-height: 35px;
    }

}
//===ABOUT US===
.about__us {
    position: relative;

    &-photo {
        width: 555px;
        height: 750px;
        background: url(../img/about-us.jpg) center no-repeat;
        margin-top: 150px;
        margin-bottom: 150px;
        z-index: -1;
        @include border;
    }

    &-content {
        background: url(../img/about2.png), #fff;
        background-position: top left;
        background-repeat: no-repeat;
        width: 650px;
        height: 550px;
        padding-top: 95px;
        padding-bottom: 80px;
        padding-left: 80px;
        padding-right: 85px;
        text-align: left;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 78px;
        left: 518px;
        z-index: 5;
    }

    &-content-header {
        @include headers();
        position: relative;
        z-index: 120;
    }

    &-content-text {
        @include paragraphs();
        margin-bottom: 30px;
    }

    &-content-borders {
        display: flex;
        justify-content: space-between;
        width: 490px;
    }

    &-content-border0 {
        border-bottom: 3px solid $color0;
        width: $border-width;
    }

    &-content-border1 {
        border-bottom: 3px solid $color1;
        width: $border-width;
    }

    &-content-border2 {
        border-bottom: 3px solid $color2;
        width: $border-width;
    }

    &-content-border3 {
        border-bottom: 3px solid $color3;
        width: $border-width;
    }

}
//===OUR FOCUS===
.our__focus {
    background: url(../img/focus-bg2.png), $bg-color;
    background-position: top center;
    background-repeat: no-repeat;

    &-header {
        @include headers();
        padding-top: 120px;
    }

    &-subtitle {
        @include subtitle();
        line-height: 50px;


    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 140px;

    }

    &-content-item {
        background: #fff;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 3px solid;
    }

    &-content-item-img {
        min-height: 60px;
        margin-top: 55px;
    }

    &-content-item-header {
        font-family: $font-Poppins;
        font-weight: 500;
        font-size: 20px;
        padding-top: 10px;
    }

    &-content-item-text {
        @include paragraphs();
        padding: 30px;
    }

}
//===VIDEO===
.video {
    background: url(../img/video-bg.jpg) center no-repeat;
    width: 100%;
    min-height: 500px;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $bg-blackout;
    }

    &__inner {
        position: relative;
        z-index: 10;
        padding-top: 130px;
        padding-bottom: 100px;
        text-align: center;
    }

    &__inner-header {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 30px;
        color: #fff;
        line-height: 60px;
        text-align: center;
    }

    &__inner-plaуer {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    &__inner-text {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
    }
}
//===PORTFOLIO===
.portfolio {
    min-height: 1300px;
    background: url(../img/portfolio-bg.png);
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;

    &__header {
        @include headers();
        padding-top: 140px;
    }

    &__subtitle {
        @include subtitle();
        padding-top: 20px;
        padding-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    &__inner-item {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        position: relative;
    }

    &__inner-item:hover {
        background: #fff;

        img {
            height: 80%;
            width: 95%;
        }
    }
}

//===TEAM===
.team {
    min-height: 1230px;
    background: url(../img/team-bg.png), $bg-color;
    background-repeat: no-repeat;
    background-position-x: center;

    &__header {
        @include headers();
        padding-top: 120px;
    }

    &__subtitle {
        @include subtitle();
        padding-top: 20px;
        padding-bottom: 70px;
    }

    &__inner-items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

    }

    &__inner-item {
        background: #fff;
        padding: 6px;
        border-bottom: 3px solid;
    }

    &__inner-item-name {
        @include paragraphs();
        font-weight: 500;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    &__inner-item-profession {
        @include paragraphs();
        font-size: 13px;
        line-height: 15px;
        padding-bottom: 15px;
    }
    &__about {
        background: #fff;
        min-height: 350px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        &::after {
            content: ''; 
            position: absolute;
            left: 108px;
            top: -63px;
            border: 30px solid transparent; 
            border-bottom: 40px solid #fff;
           }
    }
    &__about-inner {
        padding-top: 60px;
        padding-bottom: 60px;
        width: 640px;
        min-height: 210px;
    }
    &__about-inner-header {
        font-family: $font-Poppins;
        font-weight: 500;
        font-size: 20px;
        color: #272727;
        text-align: left;
        padding-bottom: 25px;
    }
    &__about-inner-text {
        @include paragraphs();
        text-align: left;
    }
    &__about-social {
        display: flex;
        justify-content: space-around;
        align-items: center;

        ul {
            text-align: left;
            padding: 0;
            padding-left: 25px;
        }

        li{
            padding-bottom: 10px;
            
        }
        a{
            font-family: $font-Poppins;
            font-weight: 400;
            font-size: 15px;
            color: $text-color;
            padding-left: 3px;

        }
        .face:before{
            content: "\f082";
            font-family: $font-icon;
            padding-right: 5px;
            font-size: 15px;
        }
        .twit:before{
            content: "\f081";
            font-family: $font-icon;
            padding-right: 5px;
        }
        .linke:before{
            content: "\f08c";
            font-family: $font-icon;
            padding-right: 5px;
        }
        .inst:before{
            content: "\f16d";
            font-family: $font-icon;
            padding-right: 5px;
        }
    }
    &__about-socail-links{
        border-left: 2px solid #efefef;
    }
    &__about-social-arrow{
        padding-right: 35px;
    }
}

