// ===IMPORTS===
@import 'variables';
@import 'mixins';
// ===VARIABLES===
$font-Poppins: 'Poppins',
sans-serif;
$font-LibreBaskerville: 'Libre Baskerville',
serif;
$font-Sacramento: 'Sacramento',
cursive;
$font-icon: 'icomoon' !important;
$color0: #fc5f45 !important;
$color1: #38c695 !important;
$color2: #b27cf5 !important;
$color3: #feb960 !important;
$bg-color: #f7f7f7;
$text-color: #616161 !important;
$border-width: 100%/4;
$bg-blackout: rgba(#3f4049, 0.8);

//===MIXINS===
@mixin headers {
    font-family: $font-LibreBaskerville;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    color: #313131;
}

@mixin paragraphs {
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #616161;
}

@mixin face__signature {
    font-family: $font-Sacramento;
    font-weight: 400;
    font-size: 40px;
    line-height: 80px;
    color: #272727;
}

@mixin border {
    border: 10px solid rgba(#a3a3a3, 0.6);
}

@mixin subtitle {
    font-family: $font-Poppins;
    font-weight: 400;
    color: $text-color;
    font-size: 18px;
}

@mixin border__bottom($br-color) {
    border-bottom: 3px solid;
    border-color: $br-color;
}

//===Common properties===
html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}



li {
    list-style-type: none;
}

.bg-color0 {
    border-color: $color0;
}

.bg-color1 {
    border-color: $color1;
}

.bg-color2 {
    border-color: $color2;
}

.bg-color3 {
    border-color: $color3;
}

.color0 {
    color: $color0;
}

.color1 {
    color: $color1;
}

.color2 {
    color: $color2;
}

.color3 {
    color: $color3;
}

// ===JS CLASSES ===
.hovers{
    color: $color0 ;
}



//===HEADER===
.header__top {
    width: 100%;
    max-height: 65px;
    position: fixed;
    z-index: 100;
    background: white;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);

    &-nav {
        li {
            display: inline-block;
            margin-left: 20px;
            z-index: 20;
        }
    }

    a {
        font-family: $font-Poppins;
        font-weight: 500;
        text-decoration: none;
        font-size: 14px;
        line-height: 27px;
        color: #272727;
        cursor: pointer;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all ease 0.25s;
     
    }
}
.header__top1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.header__content {
    background: url(../img/header-bg.jpg) center no-repeat;
    max-width: 100vw;
    min-height: 862px;
    position: relative;
    margin: 0 auto;

    &::before {
        content: "";
        background: $bg-blackout;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &-inner {
        position: relative;
        z-index: 2;
        min-height: 470px;
        width: 907px;
        margin: 0 auto;
    }

    &-inner-header {
        font-family: $font-LibreBaskerville;
        font-weight: 400;
        font-size: 60px;
        line-height: 85px;
        color: #fff;
        text-align: center;
        padding-top: 170px;
        padding-bottom: 40px;

    }

    &-inner-button {
        text-align: center;

        a {
            font-family: $font-Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 80px;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            letter-spacing: 0.7px;
            background: $color0;
            border-radius: 30px;
            padding-left: 35px;
            padding-right: 35px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

    }

    &-inner-icons {
        display: flex;
        justify-content: space-around;
        margin-top: 75px;
    }

    &-inner-icons-elem {
        text-align: center;
        font-family: $font-Poppins;
        font-weight: 500;
        font-size: 18px;
        line-height: 35px;
    }

}

//===ABOUT US===
.about__us {
    position: relative;

    &-photo {
        width: 555px;
        height: 750px;
        background: url(../img/about-us.jpg) center no-repeat;
        margin-top: 150px;
        margin-bottom: 150px;
        z-index: -1;
        @include border;
    }

    &-content {
        background: url(../img/about2.png), #fff;
        background-position: top left;
        background-repeat: no-repeat;
        width: 650px;
        height: 550px;
        padding-top: 95px;
        padding-bottom: 80px;
        padding-left: 80px;
        padding-right: 85px;
        text-align: left;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 78px;
        left: 518px;
        z-index: 5;
    }

    &-content-header {
        @include headers();
        position: relative;
        z-index: 120;
    }

    &-content-text {
        @include paragraphs();
        margin-bottom: 30px;
    }

    &-content-borders {
        display: flex;
        justify-content: space-between;
        width: 490px;
    }

    &-content-border0 {
        border-bottom: 3px solid $color0;
        width: $border-width;
    }

    &-content-border1 {
        border-bottom: 3px solid $color1;
        width: $border-width;
    }

    &-content-border2 {
        border-bottom: 3px solid $color2;
        width: $border-width;
    }

    &-content-border3 {
        border-bottom: 3px solid $color3;
        width: $border-width;
    }

}

//===OUR FOCUS===
.our__focus {
    background: url(../img/focus-bg2.png), $bg-color;
    background-position: top center;
    background-repeat: no-repeat;

    &-header {
        @include headers();
        padding-top: 120px;
    }

    &-subtitle {
        @include subtitle();
        line-height: 50px;


    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 140px;

    }

    &-content-item {
        background: #fff;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 3px solid;
    }

    &-content-item-img {
        min-height: 60px;
        margin-top: 55px;
    }

    &-content-item-header {
        font-family: $font-Poppins;
        font-weight: 500;
        font-size: 20px;
        padding-top: 10px;
    }

    &-content-item-text {
        @include paragraphs();
        padding: 30px;
    }

}

//===VIDEO===
.video {
    background: url(../img/video-bg.jpg) center no-repeat;
    width: 100%;
    min-height: 500px;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $bg-blackout;
    }

    &__inner {
        position: relative;
        z-index: 10;
        padding-top: 130px;
        padding-bottom: 100px;
        text-align: center;
    }

    &__inner-header {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 30px;
        color: #fff;
        line-height: 60px;
        text-align: center;
    }

    &__inner-plaуer {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    &__inner-text {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
    }
}

//===PORTFOLIO===
.portfolio {
    min-height: 1300px;
    background: url(../img/portfolio-bg.png);
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;

    &__header {
        @include headers();
        padding-top: 140px;
    }

    &__subtitle {
        @include subtitle();
        padding-top: 20px;
        padding-bottom: 50px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    &__inner-item {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        position: relative;
        transition: 0.4s;
        z-index: 20;
    }

    &__inner-item:hover {
        background: #fff;

        img {
            height: 80%;
            width: 95%;
        }
    }
}

//===TEAM===
.team {
    min-height: 1230px;
    background: url(../img/team-bg.png), $bg-color;
    background-repeat: no-repeat;
    background-position-x: center;

    &__active-item{
        border: 3px solid;
    }

    &__header {
        @include headers();
        padding-top: 120px;
    }

    &__subtitle {
        @include subtitle();
        padding-top: 20px;
        padding-bottom: 70px;
    }

    &__inner-items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

    }

    &__inner-item {
        background: #fff;
        padding: 6px;
        border-bottom: 3px solid;
        cursor: pointer;
    }

    &__inner-item-name {
        @include paragraphs();
        font-weight: 500;
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    &__inner-item-profession {
        @include paragraphs();
        font-size: 13px;
        line-height: 15px;
        padding-bottom: 15px;
    }

    &__about {
        background: #fff;
        min-height: 350px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 108px;
            top: -63px;
            border: 30px solid transparent;
            border-bottom: 40px solid #fff;
        }
    }

    &__about-inner {
        padding-top: 60px;
        padding-bottom: 60px;
        width: 640px;
        min-height: 210px;
    }

    &__about-inner-header {
        font-family: $font-Poppins;
        font-weight: 500;
        font-size: 20px;
        color: #272727;
        text-align: left;
        padding-bottom: 25px;
    }

    &__about-inner-text {
        @include paragraphs();
        text-align: left;
    }

    &__about-social {
        display: flex;
        justify-content: space-around;
        align-items: center;

        ul {
            text-align: left;
            padding: 0;
            padding-left: 25px;
        }

        li {
            padding-bottom: 10px;

        }

        a {
            font-family: $font-Poppins;
            font-weight: 400;
            font-size: 15px;
            color: $text-color;
            padding-left: 3px;

        }

        .face:before {
            content: "\f082";
            font-family: $font-icon;
            padding-right: 5px;
            font-size: 15px;
        }

        .twit:before {
            content: "\f081";
            font-family: $font-icon;
            padding-right: 5px;
        }

        .linke:before {
            content: "\f08c";
            font-family: $font-icon;
            padding-right: 5px;
        }

        .inst:before {
            content: "\f16d";
            font-family: $font-icon;
            padding-right: 5px;
        }
    }

    &__about-socail-links {
        border-left: 2px solid #efefef;
    }

    &__about-social-arrow {
        padding-right: 35px;
    }
}

//===STATISTIC===
.statistic {
    background: url(../img/statistic-bg.jpg) no-repeat;
    background-position-y: 0;
    width: 100%;
    min-height: 465px;
    position: relative;
    z-index: 0;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $bg-blackout;
        z-index: 1;
    }
}

.statistic__inner {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1035px;
    margin: 0 auto;
}

.statistic__inner-item-img {
    margin-top: 130px;
    margin-bottom: 20px;
}

.statistic__inner-item-numer {
    color: #fff;
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 20px;
}

.statistic__inner-tem-text {
    @include paragraphs();
    color: rgba(254, 254, 254, 0.702);
    margin-top: 25px;
    margin-bottom: 30px;
}

.statistic__inner-tem-point {
    border: 1px solid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.point {
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 50%;
    margin: 2px auto;
}

.point-bg0 {
    background: $color0;
}

.point-bg1 {
    background: $color1;
}

.point-bg2 {
    background: $color2;
}

.point-bg3 {
    background: $color3;
}

// ===WORK STEPS===
.work__steps {
    background: url(../img/work_steps-bg.png), #fff;
    background-repeat: no-repeat;
    background-position: 50% 0;
    min-height: 1725px;
    width: 100%;
    margin-top: 10px;

}

.work__steps-inner {
    padding-top: 125px;
}

.work__steps-header {
    @include headers();
    margin-bottom: 25px;
}

.work__steps-subtitle {
    @include subtitle();
    margin-bottom: 130px;
}

.work__steps-photos {
    width: 555px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.work__steps-info {
    position: relative;
}

.work__steps-info-item {
    width: 460px;
    min-height: 300px;
    border-bottom: 3px solid;
    text-align: left;
    padding-top: 40px;
    padding-left: 30px;
    background: #fff;
    position: absolute;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.work__steps-info-item-number {
    display: inline-block;
    font-family: $font-LibreBaskerville;
    font-weight: bold;
    font-size: 50px;
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    position: relative;

    &::after {
        content: "";
        width: 1px;
        height: 90px;
        background: rgb(224, 224, 224);
        position: absolute;
        top: 0;
        left: 50px;
        transform: rotate(30deg);
    }
}

.work__steps-info-item-headers {
    display: flex;
    align-items: center;
}

.work__steps-info-item-header {
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 25px;
    color: #272727;
    display: inline-block;
    margin-left: 20px;
}

.work__steps-info-item-text {
    @include paragraphs();
    width: 275px;
    min-height: 125px;
    margin-left: 90px;
}

.margin-text1 {
    margin-left: 80px;
}

.work-position0 {
    top: -1250px;
    left: 5px;
}

.work-position1 {
    top: -950px;
    left: 700px;
}

.work-position2 {
    top: -650px;
    left: 5px;
}

.work-position3 {
    top: -350px;
    left: 700px;
}

//===PRICING TABLE===
.pricing {
    background: url(../img/pricing-bg.png), $bg-color;
    background-repeat: no-repeat;
    background-position: 50% 0;
    min-height: 1050px;
    width: 100%;
}

.pricing__header {
    @include headers();
    padding-top: 130px;
    padding-bottom: 25px;

}

.pricing__subtitle {
    @include subtitle();
    padding-bottom: 70px;
}

.pricing__table {
    display: flex;
    justify-content: space-between;
}

.pricing__table-item {
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    min-width: 365px;
    min-height: 580px;
    border-top: 3px solid;
}

.pricing__table-item-header {
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 30px;
}

.pricing__table-item-price-br {
    border: 3px solid;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    display: inline-block;
    margin-bottom: 30px;

}

.pricing__table-item-price-br-inf {
    margin: 5px auto;
    width: 100px;
    min-height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    color: #fff;
    text-align: center;
    font-family: $font-Poppins;


}

.price {
    font-size: 25px;
    margin-bottom: 5px;
}

.mont {
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: 400;
}

.pricing__table-item-content {
    ul {
        margin: 0 auto;
        padding: 0;
    }

    li {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 15px;
        color: #8b8b8b;
        margin-bottom: 20px;
    }

    span {
        font-family: $font-Poppins;
        font-weight: 500;
        font-size: 15px;
        color: #272727;
        margin-bottom: 20px;
    }
}

.check {

    &::before {
        content: "\ea10";
        font-family: 'icomoon' !important;
        font-size: 15px;
        color: #272727;
        margin-right: 8px;
    }
}

.pricing__table-item-button {
    display: inline-block;
    font-family: $font-Poppins;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    min-width: 180px;
    min-height: 50px;
    border: 2px solid;
    border-radius: 30px;
    padding-top: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
    transition: 0.4s;
}

.hover-bg2:hover {
    background: $color2;
    color: #fff !important;
    cursor: pointer;
}

.hover-bg0:hover {
    background: $color0;
    color: #fff !important;
    cursor: pointer;
}

.hover-bg1:hover {
    background: $color1;
    color: #fff !important;
    cursor: pointer;
}

// ==Testimonials==
.testimonials {
    min-height: 100vh;
    width: 100%;
    background: url(../img/testimonials-bg.png), #3f4049;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 120px;
}

.testimonials__header {
    @include headers();
    color: #fff !important;
    padding-bottom: 20px;
}

.testimonials__subtitle {
    @include subtitle();
    color: #fff !important;
    padding-bottom: 120px;
}

.slider{
    display: flex;
    justify-content: flex-end;
    transition-duration: 0.5s;
    transition-property: all;
}

.testimonials__slider-photo {
    position: absolute;
    left: -350px;
    top: -55px;
    border: 10px solid #a1a0a0;
    height: 419px;
    z-index: 5;
}

.testimonials__slider-content {
    text-align: left;
    min-height: 310px;
    width: 820px;
    background: #fff;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 70px;
    border-bottom: 3px solid;
    position: relative;
 
}

.testimonials__slider-content-text {
    @include paragraphs();
    color: #767676 !important;
    padding-top: 35px;
    padding-bottom: 15px;
}

.testimonials__slider-content-signature {
    @include face__signature();
}

.testimonials__slider-content-name {
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #272727;
    margin-bottom: 10px;
}

.testimonials__slider-content-profession {
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 13px;

}

.slider_paddings{
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.slider_paddings-item{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.6s;
    margin-left: 5px;
}

.slider_paddings-item-active{
    background-color: $color0;
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.6s;
}
.active_slide {
    background-color: $color0;
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.6s;
}
// ===WHY US===
.why__us {
    min-height: 100vh;
    width: 100%;
    background: url(../img/why-us-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 3px;
}

.why__us-header {
    @include headers();
    padding-top: 130px;
    padding-bottom: 20px;
}

.why__us-subtitle {
    @include subtitle();
    margin-bottom: 60px;

}

.why__us-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.why__us-inner-item {
    width: 330px;
    text-align: left;
    padding: 5px;
    margin-bottom: 60px;

}

.why__us-inner-item-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 170px;
    margin-bottom: 10px;

}

.why__us-inner-item-header-header {
    @include subtitle();
    font-weight: 500;
    color: #272727 !important;
    margin-left: 10px;
    line-height: 25px;
}

.why__us-inner-item-text {
    @include paragraphs();
}

.why__us-inner-footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.why__us-inner-footer-text {
    font-family: $font-Poppins;
    font-weight: 500;
    line-height: 25px;
    font-size: 25px;
    color: #272727;
    margin-right: 25px;
}

.why__us-inner-footer-button {
    margin-top: 0;
    margin-bottom: 0;
    background: $color0;
    color: #fff !important;
    cursor: pointer;
}

// ===BLOG===
.blog {
    min-height: 100vh;
    width: 100%;
    background: url(../img/blog-bg.png), $bg-color;
    background-repeat: no-repeat;
    background-position: 50% 3px;
    padding-top: 120px;
    padding-bottom: 100px;
}

.blog__header {
    @include headers();
    margin-bottom: 15px;
}

.blog__subtitle {
    @include subtitle();
    margin-bottom: 70px;
}

.blog__inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.blog__inner-big {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid;
    text-align: left;
    width: 555px;
}

.blog__inner-big-header {
    height: 443px;
    background: url(../img/blog-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-left: 50px;
}

.blog__inner-name {
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 15px;
    margin-right: 15px;
    text-transform: uppercase;
}

.blog__inner-date {
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 13px;
    color: #c1c1c1;
    padding-bottom: 1px;

}

.text__a {
    display: inline;
    color: #272727;
    font-family: $font-Poppins;
    font-weight: 500;

}

.blog__inner-big-content {
    padding-left: 50px;
    padding-right: 30px;
}

.blog__inner-big-content-header {
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #272727;
    margin-top: 25px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}

.blog__inner-big-content-text {
    @include paragraphs();
    margin-bottom: 44px;
    padding-right: 20px;
}

.blog__inner-small {
    text-align: left;
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;


}

.blog__inner-small-item {
    border-bottom: 3px solid;
    padding-left: 30px;
    padding-right: 40px;
    min-height: 215px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.blog__inner-small-item-subtitle {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
}

.blog__inner-small-item-header {
    font-family: $font-Poppins;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.4px;
    color: #272727;
    margin-bottom: 20px;

}

.blog__inner-small-item-text {
    @include paragraphs();
    margin-bottom: 30px;
}

// ===SUBSCRIBE===
.subscribe {
    min-height: 425px;
    width: 100%;
    background: #fff;
    text-align: center;
    padding-top: 140px;
}

.subscribe__header {
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 30px;
    color: #272727;
    margin-bottom: 50px;
}

.subscribe__button {
    display: inline-block;
    min-width: 480px;
}

.subscribe__button-subs {
    text-align: left;
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    border: 2px solid #efefef;
    border-right: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background: #f7f7f7;
    text-decoration: none;
    outline: none;
    min-width: 300px;
    margin-right: 0;
}

.subs__butn {
    text-align: left;
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    background: $color0;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid $color0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0;
    text-transform: uppercase;

    a {
        color: #fff !important;
    }
}

// ==FEEDBACK==
.feedback {
    min-height: 1275px;
    width: 100%;
    background: url(../img/feedback-bg.png), #cccccc;
    background-repeat: no-repeat;
    background-position: 50% 2px;
    padding-top: 130px;

    &__header {
        @include headers();
        margin-bottom: 15px;
    }

    &__subtitle {
        @include subtitle();
        margin-bottom: 75px;
    }

    &__form {}

    &__form-input,
    &__form-textarea {
        text-align: center;
        padding: 15px 85px;
        margin: 10px 15px;
        outline: none;
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 16px;
        color: #616161;
        border-radius: 5px;
        border: 2px;

    }

    &__form-textarea {
        width: 780px;
        height: 200px;
        margin-left: 0;
        margin-right: 0;
        resize: none;
    }
    &__button{
        margin-top: 30px;
    }

    &__button a {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 80px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.7px;
        background: #fc5f45 !important;
        border-radius: 30px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

.footer {
    min-height: 225px;
    width: 100%;
    background: #3f4049;
    display: flex;
    padding-top: 65px;
    margin-top: 140px;
    &__img{
        margin-top: 30px;
    }

    &__logo {
        border-bottom: 3px solid;
        width: (1170px/4);
    }

    &__item {
        border-bottom: 3px solid;
        text-align: left;
        width: (1170px/4);
        padding-left: 35px;
        padding-right: 40px;
        
    }

    &__item-header {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 25px;

    }

    &__item-content {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 16px;
        color: #f1e8e7;
        line-height: 30px;

    }
    &__ul{
        padding: 0;
        margin-top: 32px;
    }
    &__li{
        display: inline-block;
        margin-right: 15px;
    }
}
