@import 'mixins';

.subscribe {
    min-height: 425px;
    width: 100%;
    background: #fff;
    text-align: center;
    padding-top: 140px;
}

.subscribe__header {
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 30px;
    color: #272727;
    margin-bottom: 50px;
}

.subscribe__button {
    display: inline-block;
    min-width: 480px;
}

.subscribe__button-subs {
    text-align: left;
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    border: 2px solid #efefef;
    border-right: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background: #f7f7f7;
    text-decoration: none;
    outline: none;
    min-width: 300px;
    margin-right: -5px;
}

.subs__butn {
    text-align: left;
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    background: $color0;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid $color0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0;
    text-transform: uppercase;

    a {
        color: #fff !important;
    }
}

// ==FEEDBACK==
.feedback {
    min-height: 1275px;
    width: 100%;
    background: url(../img/feedback-bg.png), url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 2px;
    padding-top: 130px;

    &__header {
        @include headers();
        margin-bottom: 15px;
    }

    &__subtitle {
        @include subtitle();
        margin-bottom: 75px;
    }


    &__form-input,
    &__form-textarea {
        text-align: center;
        padding: 15px 85px;
        margin: 10px 15px;
        outline: none;
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 16px;
        color: #616161;
        border-radius: 4px;
        border: 1px solid #efefef;
    }

    &__form-textarea {
        width: 780px;
        height: 200px;
        margin-left: 0;
        margin-right: 0;
        resize: none;
    }

    
    &__button{
        margin-top: 30px;
    }

    &__button a {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 80px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.7px;
        background: #fc5f45 !important;
        border-radius: 30px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

.footer {
    min-height: 225px;
    width: 100%;
    background: rgba(38, 39, 50, 0.85);
    display: flex;
    padding-top: 65px;
    margin-top: 140px;
    &__img{
        margin-top: 30px;
    }

    &__logo {
        border-bottom: 3px solid;
        width: (1170px/4);
    }

    &__item {
        border-bottom: 3px solid;
        text-align: left;
        width: (1170px/4);
        padding-left: 35px;
        padding-right: 40px;
        
    }

    &__item-header {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 25px;

    }

    &__item-content {
        font-family: $font-Poppins;
        font-weight: 400;
        font-size: 16px;
        color: #f1e8e7;
        line-height: 30px;

    }
    &__ul{
        padding: 0;
        margin-top: 32px;
    }
    &__li{
        display: inline-block;
        margin-right: 15px;
    }
}
.bottom-logo {
    font-family: Wisdom;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    font-weight: 500;

    span {
        color: $color0;
    }
}    