@import 'mixins';

.work__steps {
    background: url(../img/work_steps-bg.png), #fff;
    background-repeat: no-repeat;
    background-position: 50% 0;
    min-height: 1725px;
    width: 100%;
    margin-top: 10px;

}

.work__steps-inner {
    padding-top: 125px;
}

.work__steps-header {
    @include headers();
    margin-bottom: 25px;
}

.work__steps-subtitle {
    @include subtitle();
    margin-bottom: 130px;
}

.work__steps-photos {
    width: 555px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.work__steps-info {
    position: relative;
}

.work__steps-info-item {
    width: 460px;
    min-height: 300px;
    border-bottom: 3px solid;
    text-align: left;
    padding-top: 40px;
    padding-left: 30px;
    background: #fff;
    position: absolute;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.work__steps-info-item-number {
    display: inline-block;
    font-family: $font-LibreBaskerville;
    font-weight: bold;
    font-size: 50px;
    color: rgb(224, 224, 224);
    text-transform: uppercase;
    position: relative;

    &::after {
        content: "";
        width: 1px;
        height: 90px;
        background: rgb(224, 224, 224);
        position: absolute;
        top: 0;
        left: 50px;
        transform: rotate(30deg);
    }
}

.work__steps-info-item-headers {
    display: flex;
    align-items: center;
}

.work__steps-info-item-header {
    font-family: $font-Poppins;
    font-weight: 400;
    font-size: 25px;
    color: #272727;
    display: inline-block;
    margin-left: 20px;
}

.work__steps-info-item-text {
    @include paragraphs();
    width: 275px;
    min-height: 125px;
    margin-left: 90px;
}

.margin-text1 {
    margin-left: 80px;
}

.work-position0 {
    top: -1250px;
    left: 5px;
}

.work-position1 {
    top: -950px;
    left: 700px;
}

.work-position2 {
    top: -650px;
    left: 5px;
}

.work-position3 {
    top: -350px;
    left: 700px;
}

@media (max-width: 1200px) {
    .work__steps {
        min-height: 0%;
        margin-bottom: 20px;
    }

    .work__steps-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .work__steps-photos {
        display: none;
    }

    .work__steps-info-item {
        position: static;
        margin: 5px;
    }
}

@media (max-width: 576px) {
    .work__steps-inner {
        padding-top: 25px;
    }

    .work__steps-info-item {
        width: 100%;
        padding-top: 20px;
        padding-left: 15px;
    }
    .margin-text1 {
        margin-left: 0;
    }

    .work__steps-info-item-text {
        width: 100%;
        min-height: 0%;
        margin-left: 0;
        margin-top: 10px;
    }


}